params {
    params.outdir = './results'
    params.ens_rls = 107
    genomes {
        'GRCm39' {
            gtf = "ftp://ftp.ensembl.org/pub/release-${params.ens_rls}/gtf/mus_musculus/Mus_musculus.GRCm39.${params.ens_rls}.gtf.gz"
            fasta = "ftp://ftp.ensembl.org/pub/release-${params.ens_rls}/fasta/mus_musculus/dna/Mus_musculus.GRCm39.dna.primary_assembly.fa.gz"
        }

        'GRCh38' {
            gtf = "ftp://ftp.ensembl.org/pub/release-${params.ens_rls}/gtf/homo_sapiens/Homo_sapiens.GRCh38.${params.ens_rls}.gtf.gz"
            fasta = "ftp://ftp.ensembl.org/pub/release-${params.ens_rls}/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
        }
    }
}